<h3>Books Incurring fines:</h3>

<div>

<table class="w3-table">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Issued Date</th>
      <th>Summary</th>
      <th>Special</th>
      <th>Library</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_books.each do |active_book| %>
        <% book = Book.find(active_book.book_id) %>
        <% library = Library.find(BookLibraryMapping.fetch_library_for_book(active_book.book_id)) %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= active_book.issue_date %></td>
        <td><%= book.summary %></td>
        <td><%= book.special %></td>
        <td><%= library.name %></td>
        <td><%= library.location %></td>
        <td><%= link_to 'Details', book %></td>
        <% if current_admin or current_librarian%>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <% end %>

        <% if student_signed_in? %>

        <% if StudentBookmark.where(:book_id => book.id, :student_id => current_student.id).length == 0 %>
        <td><%= link_to 'Bookmark', bookmark_path(book) %></td>
        <% else %>
        <td><%= link_to 'Unbookmark', bookmark_path(book) %></td>
        <% end %>

        <% if BorrowingHistory.is_book_active?(current_student.id, book.id)%>
        <td><%= button_to 'Return', return_path(book) %></td>
        <% else %>
        <% if BookLibraryMapping.fetch_book_quantity(book.id) != 0 and !book.special%>
        <td><%= button_to 'Checkout', checkout_path(book) %></td>
        <% else %>
        <% if BookHoldRequest.is_requested?(current_student.id, book.id)%>
        <td><%= button_to 'Cancel Request', request_path(book) %></td>
        <% else %>
        <td><%= button_to 'Request', request_path(book) %></td>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
        
        <% if current_admin%>        
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div >
<% if current_admin%>
<%= button_to 'New Book', new_book_path %>
<% end%>
</div>