
<%= link_to "View all books", books_path %><br/>
<%= link_to "View pending book requests", librarian_approval_path %><br/>
<%= link_to "View all bookmarked books", view_bookmark_path %><br/>
<%= link_to "View all libraries",libraries_path %><br/>
<%= link_to "View all hold requests",student_hold_requests_path %><br/>
<%= link_to "View all checked out books", view_checkouts_path %><br/>


</br>
</br>
</br>
<div> 
<h4>Overdue fines: </h4>
<%= %>
<%= link_to "More Details", students_path %><br/>

</div>


