<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Max days blocking:</strong>
  <%= @library.max_days_blocking %>
</p>

<p>
  <strong>Overdue fines:</strong>
  <%= @library.overdue_fines %>
</p>

<% if current_admin %>
<%= link_to 'Edit', edit_library_path(@library) %> 
<%end%>

<br><br><br>
<h3>Books in <%= @library.name %></h3>
<hr>
<%= render "books/search"%>
<%= render "books/list", :@books => Book.fetch_books_by_ids(BookLibraryMapping.fetch_book_by_library(@library.id))%>
