<div class="container" style="padding-top:10%;">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="left:32%;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

<div class="form-group">
    <%= f.label :university %><br />
    <%= f.select :university_id, options_for_select(University.all.map{|s|[s.name, s.id]}), class: 'form-control' %>
  </div>


<div class="radio">
 <%= f.radio_button :educational_level, 'undergraduate', :checked => true %> 
  <%= label :educational_level_ug, 'undergraduate' %>
  <%= f.radio_button :educational_level, 'graduate' %>
  <%= label :educational_level_pg, 'graduate' %>
</div>

<div class="form-group">
    <%= f.hidden_field :max_books_blocking, autofocus: true, autocomplete: "max_books_blocking" %>
  </div>


  <div">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "students/shared/links" %>


<script type="text/javascript">
  

  var rad = document.getElementsByName('student[educational_level]');
  var prev = null;
  for (var i = 0; i < rad.length; i++) {
      rad[i].addEventListener('change', function() {
          if (this !== prev) {
              prev = this;
          }
          education_level = this.value;
          let max_books_blocking = 0;
          if(education_level == 'undergraduate'){
            max_books_blocking = 1;
          }
          else if(education_level == 'graduate'){
            max_books_blocking = 2;
          }
          else if(education_level == 'phd'){
            max_books_blocking = 3;
          }
          document.getElementById('student_max_books_blocking').value = max_books_blocking;
      });
}


</script>


</div>
<div class="col-md-4"></div>
</div>
